<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Lichiki</h2>
            <h4>test@lichiki.com</h4>
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Lichiki">
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashbord</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/markdown">Markdown</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>import_contacts</mat-icon>Contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>contact_phone</mat-icon>Leads
    </a>
    
</mat-nav-list>